


<link rel="stylesheet" href="/stylesheets/myLogbookStylesheet.css" />

<h3 class=" title pb-2 border-bottom">The Global logbook</h3>
{{#each this.dive}}

<div class="container py-5" id="custom-cards">

    <div class="row">
      <div class="col-12">
        <div class=" card card-cover  text-white rounded-5 shadow-lg" style="background-image: url('../images/portfolio/schoolOfFish-portfolio.jpeg')">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h4 class="fw-bold">{{comment}}</h4>
            <ul>
            <li>Date: {{ date }}</li>
            {{#if diveNumber}}
            <li>Dive number: {{ diveNumber }}</li>
            {{/if}}
            {{#if timeIn}}
            <li>Time-in: {{ timeIn }} </li>
            {{/if}}
            {{#if timeOut}}
            <li>Time-out: {{ timeOut }} </li>
            {{/if}}
            {{#if bottomTime}}
            <li>Bottom-time: {{ bottomTime }} min </li>
            {{/if}}
            {{#if depth}}
            <li>Depth: {{ depth }} meters</li>
            {{/if}}
            {{#if airStart}}
            <li>Air-start: {{ airStart }} Psi </li>
            {{/if}}
            {{#if airEnd}}
            <li>Air-end: {{ airEnd }} Psi</li>
            {{/if}}
            {{#if visibility}}
            <li>Visibility: {{ visibility }} </li>
            {{/if}}
            </ul>
            
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                
              </li>
              <li class="d-flex align-items-center ml-2 me-3 fs-4 bi bi-geo-fill  ">
            
                <small>{{location}}</small>
              </li>
              <li class="d-flex align-items-center me-3 fs-4 bi bi-person ">
              
                <small>{{username}}</small>
              </li>
              <li class="d-flex align-items-center me-3 btn btn-info ">
                <a class="text-black text-decoration-none " href="/dive/{{this.id}}/dive-details"> Details</a>
              </li>
              <li class="d-flex align-items-center btn btn-primary" >
                <a class="text-black text-decoration-none" href="/dive/{{this.id}}/dive-edit"> Edit</a>
              </li>
             </ul>
          </div>
        </div>
      </div>
    </div>
</div>

{{/each}}
