
<h1>Diver Logbook {{ user.username }}</h1>
{{#each this.dive}}



<h2>Dive Details:</h2>

<h3>Dive on {{ date }}</h3>
<ul>
    <li>Location: {{ location }} </li>
    <li>Date: {{ date }}</li>
    <li>Dive number: {{ diveNumber }}</li>
    <li>Time-in: {{ timeIn }} </li>
    <li>Time-out: {{ timeOut }} </li>
    <li> Bottom-time: {{ bottomTime }} min </li>
    <li> Depth: {{ depth }} meters</li>
    <li>Air-start: {{ airStart }} Psi </li>
    <li>Air-end: {{ airEnd }} Psi</li>
    <li>Visibility: {{ visibility }} </li>
    <p> {{ comment }}</p>
</ul>



<a href="/"> go back</a>

<a href="dive/{{this.id}}/dive-details"> Edit</a>



{{/each}}