<h1>Dive Details {{dive._id}} </h1>

<form method="post" action="/dive/{{dive._id}}/dive-details">

    <h3>Dive on {{ dive.date }}</h3>

    <ul>
        <li>Location: {{ dive.location }} </li>
        <li>Date: {{ dive.date }}</li>
        <li>Dive number: {{ dive.diveNumber }}</li>
        <li>Time-in: {{ dive.timeIn }} </li>
        <li>Time-out: {{ dive.timeOut }} </li>
        <li>Bottom-time: {{ dive.bottomTime }} min </li>
        <li>Depth: {{ dive.depth }} meters</li>
        <li>Air-start: {{ dive.airStart }} Psi </li>
        <li>Air-end: {{ dive.airEnd }} Psi</li>
        <li>Visibility: {{ dive.visibility }} </li>
        <p> {{ dive.comment }}</p>
    </ul>

</form>


<a href="/dive"> go back</a>