<h1>Dive Details</h1>

<h2>Dive on {{date}}</h2>
<ul>
    <li>Location {{location}} </li>
    <li>Dive number {{diveNumber}}</li>
    <li>Time in {{timeIn}} </li>
    <li>Time out {{timeOut}} </li>
    <li> Bottom time {{bottomTime}} </li>
    <li> Depth {{depth}} </li>
    <li>Air start {{airStart}} </li>
    <li>Air end {{airEnd}} </li>
    <li> Visibility {{visibility}} </li>
</ul>

<p> {{comment}}</p>

<a href="/dive"> go back</a>