<h1>Dive Edit {{dive._id}} </h1>

<form method="post" action="/dive/{{dive._id}}/dive-edit">
    <label>
        Location:
        <input type="text" name="location" value="{{ dive.location }}" />
    </label>

    <label>
        Date:
        <input type="date" name="date" value="{{ dive.date }}" />
    </label>

    <label>
        Dive number:
        <input type="number" name="diveNumber" value="{{ dive.diveNumber }}" />
    </label>

    <label> time in:
        <input type="time" name="timeIn" value="{{ dive.timeIn }}">
    </label>

    <label> time out:
        <input type="time" name="timeOut" value="{{ dive.timeOut }}">
    </label>

    <label>
        Bottom time:
        <input type="number" name="bottomTime" value="{{ dive.bottomTime }}">
    </label>

    <label>
        Depth:
        <input type="number" name="depth" value="{{ dive.depth }}">
    </label>

    <label>
        Air start:
        <input type="number" name="airStart" value="{{ dive.airStart }}">
    </label>

    <label>
        Air end:
        <input type="number" name="airEnd" value="{{ dive.airEnd }}">
    </label>

    <label for="visibility">Visibility:</label>
    <select name="visibility" id="visibility">
        <option value="Very Good">Very Good</option>
        <option value="Good">Good</option>
        <option value="Okay">Okay</option>
        <option value="Bad">Bad</option>
        <option value="Very Bad">Very Bad</option>
    </select>

    <label>
        Comment:
        <textarea name="comment" cols="30" rows="4"> {{dive.comment}} </textarea>
    </label>
    <input type="submit" value="Submit Changes"> </input>
    <input type="submit" value="DELETE"> </input>
    <form method="post" action="/dive/{{dive._id}}/dive-details">
    </form>


    <a href="/dive"> go back</a>